<ng-container *ngIf="id != undefined; else create">
  <div class="row justify-content-center">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input *ngIf="post" type="text" class="form-control" id="title" value={{post.title}}>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea type="text" *ngIf="post" class="form-control" value={{post.body}}></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</ng-container>
<ng-template #create>
  <div class="row justify-content-center">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea type="text" class="form-control" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</ng-template>
